button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 14px;
  white-space: nowrap;
  padding: 12px 20px;
  background: 0 0;
  border-image: initial;
  border-radius: 32px;
  transition: .3s;
  cursor: pointer;
  box-shadow: $shadow-bottom;
}

.btn-j85yzo {
  background: var(--brand);
  color: $white;

  &:hover {
    background: var(--brand-secondary);
  }

  &:active {
    background: var(--brand-tertiary);
  }
}

.btn-kFpsaU {
  color: $white;
  background: $grey;

  &:hover {
    background: $grey-secondary;
  }
}