button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 14px;
  white-space: nowrap;
  padding: 11px 20px;
  background: 0 0;
  border-image: initial;
  border-radius: 3px;
  opacity: .99;
  transition: .3s;
  cursor: pointer;
  box-shadow: $shadow-bottom;
}

.btn-j85yzo {
  background: $blurple;
  color: $white;

  &:hover {
    background: $blurple-light;
  }

  &:active {
    background: $blurple-secondary;
  }
}

.btn-kFpsaU {
  color: $white;
  background: rgba(255,255,255,.15);

  &:hover {
    background: rgba(255,255,255,.2);
  }
}