.wrapper-7jhxqo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url('https://cdn.jsdelivr.net/gh/azuryofficial/assets/47894d9cd26e.svg');
	background-attachment: fixed;
	background-size: cover;
	background-color: $background-tertiary;
}

.wrapper-7jhxqo h1 {
	font-size: 100px;
	font-weight: 500;
	color: $header;
	margin-bottom: 60px
}

.wrapper-7jhxqo h2 {
	font-size: 32px;
	font-weight: 500;
	color: $header;
}

.wrapper-7jhxqo p {
	font-size: 20px;
	color: $text-darker;
	margin-top: 10px;
}

.wrapper-7jhxqo button {
	margin-top: 20px;
}