.wrapper-7jhxqo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url('https://cdn.jsdelivr.net/gh/azuryapp/static@1.5/b484f2ffb415187f.svg');
	background-attachment: fixed;
	background-size: cover;
	background-color: $bg-hero;

	img {
		width: 128px;
		pointer-events: none;
		margin-bottom: 60px;
	}
	
	h2 {
		font-size: 40px;
		font-weight: 600;
		//text-transform: uppercase;
		color: $header;
		opacity: .99;
	}
	
	p {
		font-size: 20px;
		color: $text-dark;
		margin-top: 10px;
		opacity: .99;
	}
	
	button {
		margin-top: 20px;
	}
}