// ---------------- GENERAL ---------------- //

.header-i5rlgr {
  background: $bg-hero;
}

// ---------------- HERO ---------------- //

.hero-yd03n5 {
  background: $bg-hero;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 60px 0;

  .text-00919z {
    text-align: left;
  
    h1 {
      font-size: 40px;
      font-weight: 600;
      color: $header;
      opacity: .99;
      line-height: 1.3;
    }
  
    p {
      font-size: 18px;
      color: $text-dark;
      opacity: .99;
      line-height: 1.3;
      margin-top: 10px;
      max-width: 550px;
    }

    .row-zuukbb {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-top: 20px;
    
      button {
        &:nth-child(1) {
          margin-right: 20px;
        }
      }
    }
  }

  img {
    width: 200px;
    pointer-events: none;
    margin-left: 120px;
  }
}

// ---------------- SECTION DIVIDER ---------------- //

.wrapper-59jryz {
  background: $bg-dark;
}

.wave-0llafx {
  width: 100%;
  background: $bg-hero;
  pointer-events: none;
}

// ---------------- FEATURES ---------------- //