.header-0hjphw, .footer-xbjh68 {
  background: $bg-darker;
}

.wrapper-gvvpn3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $white;
  padding: 120px 0;
}

.document-eii6zl {
  text-align: left;
  font-size: 14px;
  word-wrap: break-word;
  color: $bg;
  opacity: .96;
  width: 800px;
  
  * {
    font-weight: 300;
  }

  h2 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.4;
  }

  .header-0lwwl4 {
    margin-bottom: 30px;
  }

  p {
    line-height: 28px;
    margin-top: 10px;
    color: $bg;
  }

  ul {
    margin-top: 10px;

    li {
      list-style-type: disc;
      margin-left: 20px;
      line-height: 28px;
      color: $bg;
    }
  }

  a {
    color: $blurple-light;

    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    li {
      list-style-type: decimal;
      line-height: 28px;
      margin-left: 20px;
      margin-top: 10px;
      color: $bg;
    }
  }

  b {
    font-weight: 600;
  }
}

@media only screen and (max-width: 800px) {
  .document-eii6zl {
    width: 90%;
  }
}

.documentHeader-o0lx4m {
  h1 {
    font-size: 48px;
    font-weight: 800;
    color: $bg;
    margin-bottom: 10px;
    line-height: 1.2;
  }
	
  span {
    font-size: 18px;
    line-height: 1.4;
    text-transform: capitalize;
  }
}