<div class="row-1biwce">
  <p>&copy <script>document.write(new Date().getFullYear())</script> - The Azury Network</p>
  <div class="links-n7wdwq">
    <a href="/guidelines">Guidelines</a>
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
    <a href="/imprint">Imprint</a>
  </div>
  <p><i class="far fa-code"></i> with <i class="fas fa-heart"></i> by <a href="https://github.com/unrealazury" target="_blank">@unrealazury</a></p>
</div>
