<div class="row-1biwce">
  <p>&copy <script>document.write(new Date().getFullYear())</script> - Azury</p>
  <div class="links-n7wdwq">
    <a href="/guidelines">Guidelines</a>
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
    <a href="/imprint">Imprint</a>
  </div>
  <p><i class="material-icons-round">code</i> with <i class="material-icons-round">favorite_border</i> by <a href="https://github.com/unrealazury" target="_blank">@unrealazury</a></p>
</div>
