<nav class="navigation-t115wi">
  <div class="row-q5t7ef">
    <i class="fas fa-bug item-9ee0ai" onclick="window.open('https://forms.gle/HYhDydLo9TTuhNWn8')"></i>
  </div>

  <div class="row-bp4gw2">
    <i class="fas fa-hand-holding-heart item-h2gpux" onclick="window.open('/go/trustpilot')"></i>
    
    <div class="separator-qdqlag"></div>
  
    <div class="avatar-3u2m1o">
      <img src="https://cdn.discordapp.com/avatars/<%= u.id %>/<%= u.avatar %>" alt="error">
    </div>
  </div>
</nav>

<div id="settingsDropdown-74k5e2" class="actions-1asr66">
  <div class="action-m9sypr" onclick="window.location.href='/account'">
    My Account
  </div>
  <div class="action-m9sypr" onclick="window.open('https://forms.gle/AqpSy2ncq4XNcfvb6')">
    Suggest a Feature
  </div>
  <div class="action-m9sypr" onclick="window.open('https://forms.gle/JS9xfSojcAosmw439')">
    Help & Support
  </div>
  <div class="separator-3i6ltg"></div>
  <div class="action-m9sypr danger-hkfr30" onclick="window.location.href='/logout'">
    Log Out
  </div>
</div>