<div class="uploadPopup-sb7chb popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1 class="fileName-72ber3"></h1>
      <p class="fileSize-62xwoc"></p>
      <button class="btn-j85yzo pb4fyh submitUpload-kb5qqb">Upload</button>
      <div class="uploadProgress-1wem8e"></div>
    </div>
  </div>
</div>

<div class="renamePopup-c3nto9 popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Rename File</h1>
      <div class="row-5472qw">
        <input type="text" name="name" id="newFileName">
        <button class="btn-j85yzo" id="renameFileSubmit">Rename</button>
      </div>
    </div>
  </div>
</div>

<div class="renameTeamPopup-sewzbh popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Rename Team</h1>
      <div class="row-5472qw">
        <input type="text" name="name" class="newTeamName-80a7d5" id="newTeamName">
        <button class="btn-j85yzo renameTeam-t6cw0j">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="deleteUserPopup-s8jdp4 popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Delete Account</h1>
      <p>You're about to delete your entire account, including all files and data. Are you sure you want to proceed?</p>
      <button class="btn-kFpsaU" onclick="deleteUser()">Proceed</button>
    </div>
  </div>
</div>

<div class="transferTeamPopup-dbca38 popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Transfer Team</h1>
      <p>Specify the User ID of the new owner to transfer it.</p>
      <div class="row-5472qw">
        <input type="text" name="name" id="newOwner">
        <button class="btn-j85yzo transferTeam-jfhyne">Transfer</button>
      </div>
    </div>
  </div>
</div>

<div class="addUserPopup-7ia9gh popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Invite Friend</h1>
      <p>Specify the User ID of your friend.</p>
      <div class="row-5472qw">
        <input type="text" class="newMember-hjx3y8">
        <button class="btn-j85yzo addUser-24em0z">Invite</button>
      </div>
    </div>
  </div>
</div>

<div class="sharePopup-v1helu popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Share</h1>
      <div class="row-9dnm6h">
        <i class="far fa-link share-1e3h7u"></i>
        <i class="fas fa-envelope share-z205mu"></i>
        <i class="fab fa-facebook share-9fwn4q"></i>
        <i class="fab fa-flipboard share-kjel94"></i>
        <i class="fab fa-vk share-f4glxl"></i>
        <i class="fab fa-whatsapp share-c9lf1i"></i>
        <i class="fab fa-twitter share-iy0ox5"></i>
        <i class="fab fa-reddit-alien share-era4xv"></i>
        <i class="fab fa-telegram-plane share-js7r5b"></i>
      </div>
    </div>
  </div>
</div>

<div class="fileDetails-635g7v">
  <div class="spinnerWrapper-8dg92z">
    <div class="spinner-mngm6t">
      <div class="cube-ugcbs1"></div>
      <div class="cube-vlugch"></div>
    </div>
  </div>

  <div class="detailsInner-tsf68a">
    <i class="fal fa-times times-alcb2d"></i>
    <i class="fas fileIcon-e2r17e"></i>
    <h1 class="name-1bkjmc"></h1>

    <div class="details-m0h9op">
      <span>Type</span>
      <p class="type-2yry80"></p>
      <span>Size</span>
      <p class="size-8ri1y3"></p>
      <span>Uploaded at</span>
      <p class="uploaded-s6xal2"></p>
      <span>Updated at</span>
      <p class="updated-n7lr6x"></p>
    </div>
  </div>
</div>

<div class="createTeamPopup-mlwrvm popup-het172">
  <div class="popupOpacity-b42lrr">
    <div class="popupBox-k7hgav">
      <i class="fal fa-times times-cg1xkr"></i>
      <h1>Create Team</h1>
      <p>You can own up to 2 teams each with up to 50 members.</p>
      <div class="row-5472qw">
        <input type="text" id="createTeamName" required>
        <button class="btn-j85yzo createTeam-3xmrfp">Create</button>
      </div>
    </div>
  </div>
</div>