
// ---------------- SEARCH ---------------- //

.row-chazt8 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
}

.searchbar-7zbruk {
  width: 400px;
  border-radius: 48px;
  padding: 12px 20px;
  font-size: 16px;
  color: $text;
  background: transparent;
  border: solid 2px $background-tertiary;
  opacity: .99;
  transition: .3s;

  &:focus {
    border-color: $blurple;
  }
}

.options-sf1c0v {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;

  i {
    font-size: 20px;
    color: $text;
    cursor: pointer;
    transition: .3s;
    margin-left: 5px;

    &:hover {
      color: $header;
    }
  }

  .upload-pylec6 {
    font-size: 22px;
    line-height: 1.3;
    margin-left: 3px;
  }
}

.row-23omrp {
  display: flex;
  align-items: center;
  justify-content: center;

  label i {
    margin: 0;
  }
}

.input-qzb607 {
  width: 0;
  height: 0;
  opacity: 0;
  display: none;
}	

// ---------------- NO FILE ADDED/UPLOADED ---------------- //

.noFile-8alx2j {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  color: $text-darker;
  transition: .3s;

  &:hover {
    color: $text-dark;
  }
}

.noFileMoved-wkqwqo {
  cursor: default;
  color: $text-darker !important;
}

.noFile-8alx2j {
  i {
    font-size: 64px;
  }
  p {
    margin-top: 20px;
    font-size: 18px;
  }
}

// ---------------- GENERAL ---------------- //

.wrapperInner-xtc435 {
  display: flex;
  align-items: center;
  justify-content: left;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 1370px;
  height: 100%;
}

// ---------------- FILE ---------------- //

.item-96xnxf {
  width: 200px;
  height: 200px;
  padding: 0 25px;
  border-radius: 28px;
  border: solid 2px $background-tertiary;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(6px);
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s;

  &:hover {
    border-color: $background-secondary;
    transform: scale(.95);
  }

  > i {
    font-size: 64px;
    color: $header;
    margin-bottom: 25px;
    opacity: .99;
  }

  .title-ojp0kq {
    display: flex;
    align-items: center;
    justify-content: left;

    > i {
      display: none;
    }

    h1 {
      font-size: 20px;
      color: $header;
      opacity: .99;

      > b {
        opacity: .6;
        color: $text-dark;
      }
    }
  }

  .info-xmghpq {
    display: none;
  }
}

.favorite {
  border: solid 2px $blurple;
}

// ---------------- TOGGLES ---------------- //

// toggle favorites 

.toggleFavorites-s8pi55 {
  display: block;
}

.toggleFavorites-uayo0q {
  display: none;
}

.showOnlyFavorites-y5ty3b .item-96xnxf {
  display: none;
}

.showOnlyFavorites-y5ty3b .favorite {
  display: flex;
}

.showOnlyFavorites-y5ty3b .toggleFavorites-uayo0q {
  display: block;
}

.showOnlyFavorites-y5ty3b .toggleFavorites-s8pi55 {
  display: none;
}

// toggle list

.toggleList-9aylap {
  display: block;
}

.toggleGrid-iqpt69 {
  display: none;
}

.list-uu8vbx {
  .wrapperInner-xtc435 {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  .toggleGrid-iqpt69 {
    display: block;
  }

  .toggleList-9aylap {
    display: none;
  }

  .item-96xnxf {
    width: calc(800px - 30px);
    height: auto;
    padding: 15px;
    border-radius: 8px;
    justify-content: space-between;
    flex-direction: row;
    margin: 5px;

    > i {
      display: none;
    }

    .info-xmghpq {
      display: flex;
      align-items: center;
      justify-content: right;

      span {
        font-size: 14px;
        opacity: .7;
        color: $text-dark;
        margin-left: 10px;
      }
    }

    .title-ojp0kq {
      > i {
        display: block;
        font-size: 26px;
        color: $white;
        margin-right: 10px;
        opacity: .99;
      }

      h1 {
        font-size: 18px;
      }
    }
  }
}

// ---------------- ACTIONS POPUP ---------------- //

.actions-1asr66 {
  display: none;
}

.action-m9sypr {
  color: $text-dark;
  opacity: .99;
  padding: 10px 15px;
  width: calc(100% - 30px);
  border-radius: 3px;
  margin-bottom: 2px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: .3s;

  &:hover {
    background: rgba(255,255,255,.05);
    color: $header;

    i {
      color: $header;
    }
  }

  &:active {
    background: rgba(255,255,255,.1);
    color: $header;

    i {
      color: $header;
    }
  }

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  i {
    font-size: 16px;
    transition: none;
  }
}

.danger-hkfr30 {
  &:hover, &:active {
    color: hsl(359, 74%, 68%);
  }
}

.separator-3i6ltg {
  height: 2px;
  background: $background-secondary;
  width: 90%;
  margin: 4px 5%;
}

// ---------------- FILE DETAILS ---------------- //

.fileDetails-635g7v {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9;
  width: 400px;
  height: 100%;
  //background: rgba(24, 25, 28, .7);
  //backdrop-filter: blur(6px);
  background: $background-tertiary-alt;
  border-left: solid 2px $background-secondary-alt;
}

.spinnerWrapper-8dg92z {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.detailsInner-tsf68a {
  display: none;
  position: relative;
  height: calc(100% - 240px);
  padding: 120px 60px;
  width: calc(100% - 120px);

  h1 {
    color: rgba(185, 187, 190, .6);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 30px;

    span {
      line-height: 1.2;
      color: $header;
      font-size: 26px;
      font-weight: 500;
    }
  }
}

.times-alcb2d {
  font-size: 25px;
  color: $text;
  transition: .3s;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;

  &:hover {
    color: $header;
  }
}

.fileIcon-e2r17e {
  i {
    font-size: 100px;
    color: $header;
  }
}

.details-m0h9op {
  text-align: left;
  margin-top: 120px;

  span {
    font-size: 16px;
    opacity: .6;
    color: $text-dark;
    line-height: 1.4;
    margin-bottom: 5px;
  }

  p {
    font-size: 20px;
    color: $text;
    margin-bottom: 15px;
    line-height: 1.2;
    opacity: .99;
  }
}