<!DOCTYPE html>
<html>
  <head divfix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Docs</title>
    <meta content="Azury - Docs" property="og:title">
    <meta content="Azury - Docs" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="website-3tuja6">
      <header class="header-uzx4oy">
        <%- include('../partials/header.ejs') %>
      </header>

      <div class="documentation-k7uj71">
        <div class="wrapper-gljz1p">
          <h1><b>API</b> Docs</h1>

          <div class="sidebar-nxgj4o"></div>
        </div>

        <div class="docs-q63mlc"></div>
      </div>

      <footer class="footer-c6cq83">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>

    <%- include('../partials/cookie-notice'); %>
    <script src="/assets/f45cc49331cb4798.js"></script>
  </body>
</html>
