<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Not Found</title>
    <meta content="Azury - Not Found" property="og:title">
    <meta content="Azury - Not Found" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="wrapper-7jhxqo">
      <h1 class="errorEmote-use4zr"></h1>
      <h2>404 - Not Found</h2>
      <p>This page doesn't seem to exist.</p>
      <button class="btn-j85yzo" onclick="window.location.href='/'">Return</button>
    </div>

    <%- include('../partials/cookie-notice'); %>
    <script>
      const emotes = [
        '(╯°□°）╯︵ ┻━┻',
        '(^_^)b',
        '\\(^Д^)/',
        '(^-^*)',
        '(;-;)',
        '(=\'X\'=)',
        '(o^^)o',
        '(>_<)',
        '(·_·)',
        '¯\\_(ツ)_/¯'
      ]
      const randomEmote = Math.floor(Math.random()*emotes.length)
      document.querySelector('.errorEmote-use4zr').innerHTML = emotes[randomEmote]
    </script>
  </body>
</html>
