<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - 404</title>
    <meta content="Azury - 404" property="og:title">
    <meta content="Azury - 404" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;">
    <div class="wrapper-7jhxqo">
      <img src="https://cdn.jsdelivr.net/gh/azuryofficial/static@1.3/93796944a57bedfd.svg" alt="error">
      <h2>Not Found</h2>
      <p>This page doesn't seem to exist.</p>
      <button class="btn-kFpsaU" onclick="window.location.href='/'">Go back</button>
    </div>

    <%- include('../partials/cookie-notice'); %>
    <script>
      const emotes = [
        '(╯°□°）╯︵ ┻━┻',
        '(^_^)b',
        '\\(^Д^)/',
        '(^-^*)',
        '(;-;)',
        '(=\'X\'=)',
        '(o^^)o',
        '(>_<)',
        '(·_·)',
        '¯\\_(ツ)_/¯'
      ]
      const randomEmote = Math.floor(Math.random()*emotes.length)
      document.querySelector('.errorEmote-use4zr').innerHTML = emotes[randomEmote]
    </script>
  </body>
</html>
