<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Unlimited File-Sharing</title>
    <meta content="Azury - Unlimited File-Sharing" property="og:title">
    <meta content="Azury - Unlimited File-Sharing" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;" class="app-3tqbvz">
    <div class="website-3tuja6">
      <div class="background-pruzxs"> 
        <header class="header-i5rlgr">
          <%- include('../partials/header.ejs') %>
        </header>

        <div class="overlay-yd03n5">
          <div class="row-0927qt">
            <div class="text-00919z">
              <h1>Sharing done simple.</h1>
              <div class="row-zuukbb">
                <button class="btn-ylki76">Sign up for free</button>
                <button class="btn-wjr99i" onclick="window.location.href='#features'">Key Features</button>
              </div>
            </div>
          </div>

          <svg id="features" class="wave-0llafx" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 267"><path d="M1440,71.5c-18.11-3.24-46.81,5.09-81.79,16.37-32.68,10.54-73.32,23.63-122.86,32.24-50.66,8.8-73.87-9.64-104.17-33.74-31.93-25.39-71.75-57-159.92-69.7C854.11-.14,759.57,31.7,682.83,57.54,647,69.6,615.1,80.35,586.56,84.24c-47.22,6.45-81.17-4.35-115.95-15.42-31.29-10-63.26-20.13-106.19-18.14-40,1.86-72.54,28.27-102.9,52.89-38.47,31.19-73.39,59.5-115.3,31.33C71.23,84.5,0,113.86,0,113.86V267H1440Z"></path></svg>
        </div>
      </div>
      
      <div class="wrapper-59jryz">
        <h2>Share files quickly and effortlessly, without any unnecessary charges or ads!</h2>
        <div class="row-5dk5mh default-n7cntp">
          <div class="text-5ikoto">
            <h3>Upload an unlimited number of files for free, stored infinitely.</h3>
            <p>We offer you unlimited free storage to easily share all your files with friends, or to archive them indefinitely.</p>
          </div>
          <i class="material-icons-outlined">all_inclusive</i>
        </div>
        <div class="row-5dk5mh reversed-9v2vn8">
          <div class="text-5ikoto">
            <h3>Simplified Sharing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repudiandae perferendis, cum debitis, illo velit, porro quae cumque ex ad minima cupiditate earum corrupti! Accusamus perferendis delectus eligendi eius. Inventore!</p>
          </div>
          <i class="material-icons-round">send</i>
        </div>
        <div class="row-5dk5mh default-n7cntp">
          <div class="text-5ikoto">
            <h3>Unlimited Storage</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste inventore explicabo ducimus? Commodi, eveniet ullam et odio sed sunt quae cupiditate natus harum corrupti totam minima reprehenderit ipsum. Adipisci!</p>
          </div>
          <i class="material-icons-round">contact_support</i>
        </div>
        <div class="row-5dk5mh reversed-9v2vn8">
          <div class="text-5ikoto">
            <h3>Simplified Sharing</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum repudiandae perferendis, cum debitis, illo velit, porro quae cumque ex ad minima cupiditate earum corrupti! Accusamus perferendis delectus eligendi eius. Inventore!</p>
          </div>
          <i class="material-icons-outlined">dark_mode</i>
        </div>
      </div>

      <footer class="footer-jf4h2z">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/cookie-notice'); %>
  </body>
</html>
