<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Azury - Unlimited File-Sharing</title>
    <meta content="Azury - Unlimited File-Sharing" property="og:title">
    <meta content="Azury - Unlimited File-Sharing" property="twitter:title">

    <%- include('../partials/meta'); %>
  </head>

  <body oncontextmenu="return false;" class="app-3tqbvz">
    <div class="website-3tuja6">
      <header class="header-i5rlgr">
        <%- include('../partials/header.ejs') %>
      </header>

      <div class="hero-yd03n5">
        <div class="text-00919z">
          <h1>Sharing done simple.</h1>
          <p>Share an unlimited amount of files up to 100 MB each for free within seconds - easily and without intrusive advertising.</p>         
          <div class="row-zuukbb">
            <button class="btn-ylki76">Sign in w/ Discord</button>
            <button class="btn-wjr99i">Commands</button>
          </div>
        </div>
  
        <img src="https://cdn.jsdelivr.net/gh/azuryapp/static@1.5/02a681bf4179.svg" alt="logo">
      </div>
      
      <div class="wrapper-59jryz">
        <img class="wave-0llafx" src="https://cdn.jsdelivr.net/gh/azuryapp/static@1.5/edc0c38ceb03fe11.svg" alt="wave">

        <h1>lol</h1>
      </div>

      <footer class="footer-jf4h2z">
        <%- include('../partials/footer.ejs') %>
      </footer>
    </div>
    
    <%- include('../partials/cookie-notice'); %>
  </body>
</html>
