.announcement-wmr7f8 {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 30px;
  height: 50px;
  background: $background-tertiary-alt;
  text-align: left;
}

.announcement-wmr7f8 p {
  color: $white;
  font-size: 14px;
}

.announcement-wmr7f8 a {
  color: var(--brand);
}

.announcement-wmr7f8 a:hover {
  text-decoration: underline;
}

.announcement-wmr7f8 i {
  color: $white;
  font-size: 18px;
  margin-right: 15px;
}

@media only screen and (max-width: 1000px) {
  .announcement-wmr7f8 {
    padding: 15px 30px;
    height: auto;
    width: calc(100% - 60px);
  }
}