.footer-ku1fr8, .header-7fscvq {
  background: $background-secondary-alt;
}

.wrapper-yeqhqx {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $background-tertiary;
  position: relative;
  padding: 120px 0;
}

.document-m1kzbl {
  text-align: left;
  font-size: 16px;
  word-wrap: break-word;
  color: $text-dark;
  width: 800px;
}

@media only screen and (max-width: 1000px) {
  .document-m1kzbl {
    width: 90%;
  }
}

.heading-1zf47u {
  text-align: center;
  margin-bottom: 80px;

  h1 {
    font-size: 64px;
    font-weight: 600;
    color: $header;
    margin-bottom: 10px;
    line-height: 1.2;
  }
}

.document-m1kzbl {
  h2 {
    font-size: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 1.4;
    color: $header;
    margin-top: 40px;

    :nth-child(1) {
      margin-top: 0;
    }
  }

  .section {
    margin-top: 20px;
    padding: 15px;
    border-radius: 16px;
    background: $background-secondary;
    width: calc(100% - 30px);

    :nth-child(1) {
      margin-top: 0;
    }

    p {
      margin-top: 10px;
    }
  }

  .code {
    background: $background-tertiary;
    padding: 10px 15px;
    margin-top: 10px;
    line-height: 28px;
    border-radius: 5px;
    color: $text;
    user-select: text;
    transition: .3s;

    &:hover {
      background: $background-tertiary-alt;
    }

    b {
      color: $text-darker;
      font-weight: 400;
    }

    span {
      padding: 5px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 28px;
      border-radius: 2px;
      margin-right: 10px;
      color: $white;
      background: var(--brand);
      text-transform: uppercase;
      user-select: none;
    }
  }

  h3 {
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 1.4;
    color: $header;
  }

  p {
    line-height: 28px;
  }

  ul {
    margin-top: 10px;

    li {
      list-style-type: disc;
      margin-left: 20px;
      line-height: 28px;
    }
  }

  a {
    color: var(--brand);

    &:hover {
      text-decoration: underline;
    }
  }

  ol li {
    list-style-type: decimal;
    line-height: 28px;
    margin-left: 20px;
    margin-top: 10px;
  }

  b {
    font-weight: 600;
  }

  span.code {
    background: $background-secondary-alt;
    padding: 2px 5px;
    margin-top: 10px;
    line-height: 28px;
    border-radius: 2px;
    color: $text-dark;
    user-select: text;
  }
}

.notices-wf4bjt {
  margin-left: 10px;

  i {
    font-size: 16px;
    color: $orange;
    margin: 0 1px;
  }
}