.column-2nuro0 h1 {
  font-size: 40px;
  color: $header;
}

.wrapper-xrjttc {
  margin-top: 60px;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.discordSettings-w1sgv9 {
  margin-top: 60px;

  h1 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $header;
  }
}

.settingsWrapper-lagf8m {
  border-radius: 28px;
  padding: 20px;
  margin: 20px;
  background: $background-secondary;
}

.settingsWrapperInner-zqb92n {
  background: $background-primary;
  padding: 20px;
  border-radius: 28px;
}

.row-e4zms5 {
  width: 600px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.text-01808h {
  display: flex;
  align-items: center;
  justify-content: left;

  i {
    font-size: 25px;
    color: $header;
    margin-right: 15px;
  }
}

.textInner-c8280p {
  h3 {
    font-size: 18px;
    color: $header;
    line-height: 1.2;
    max-width: 400px;
    text-align: left;
    margin-bottom: 2px;
  }

  p {
    font-size: 16px;
    color: $text;
    text-align: left;
    margin-bottom: 2px;
  }
}

.title-o67asw {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $header;
}

.information-kdg4xp {
  background: $background-secondary;
  padding: 20px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-40j482 {
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.userWrapper-vjkqic {
  background: $background-secondary;
  padding: 20px;
  border-radius: 28px;
  margin-top: 30px;
}

.information-kdg4xp {
  background: $background-primary;
}

.column-o8n24w {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0 60px 0;

	> img {
		width: 128px;
		border-radius: 50%;
		pointer-events: none;
		margin-bottom: 20px;
	}

	h1 {
		font-size: 40px;
		font-weight: 500;
		color: $header;

		small {
			font-size: 26px;
			font-weight: 400;
			color: $text-darker;
		}
	}
}

.activeTypeface-coo1pw, .activeAccentColor-amipma {
  text-transform: capitalize;
}

.row-9hqhf7 {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badges-0sk43k {
  margin: 0 5px;

	img {
		width: 24px;
		pointer-events: none;
	}

	i {
		font-size: 24px;
		color: var(--brand);
	}
}


.badge-k21qr4 i {
  color: $red;
}

.row-p7hg7j {
  width: 600px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }

  > i {
    font-size: 18px;
    color: $text;
    transition: .3s;
    cursor: pointer;

    &:hover {
      color: $text-dark;
    }
  
    &:active {
      color: $text-darker;
    }
  }

  .accentColor-mqmnem {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    transform: rotate(45deg);
    background: var(--brand);
    cursor: pointer;
    border: solid 2px $background-secondary-alt;
  }
}

.selectAccentColor-kmrufb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.blurple {
  background: $blurple;
}

.green {
  background: $green
}

.red {
  background: $red;
}

.purple {
  background: $purple;
}

.blue {
  background: $blue;
}

.column-xl99n2 {
  display: flex;
  align-items: center;
  justify-content: left;

  i {
    font-size: 25px;
    color: $header;
    margin-right: 15px;
  }
}

.name-e3cyok {
  h3 {
    font-size: 14px;
    color: $text;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 2px;
  }

  p {
    font-size: 18px;
    color: $header;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.3;
    text-overflow: ellipsis;
    max-width: 400px;
    text-align: left;
  }
}

.enabled-l7383w {
  color: $green !important;
  font-weight: 600;
}

.disabled-88tpkf {
  color: $red !important;
  font-weight: 600;
}

.footerSettings-n3op5b {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.footerSettings-n3op5b a {
  font-size: 16px;
  color: $red;
  cursor: pointer;
  margin-left: 20px;
}

.footerSettings-n3op5b a:hover {
  text-decoration: underline;
}

.comingSoon-k6q8z0 {
  font-size: 18px;
  color: $red;
}